.footer {
	margin-bottom: 40px;
	.footer__inner {
		display: flex;
		column-gap: 100px;
		padding: 0px 100px;
		margin: 90px 0 0;
		@include font-graphil();
		font-weight: 700;
		color: white;

		.footer__link {
			margin: 0 0 20px;
			.footer__text {
				@include font-graphil();
				font-weight: 400;
				width: 72%;
				margin-top: 20px;
				color: hsl(219, 8%, 75%);
				line-height: 22px;

				&:hover {
					 color: hsl(219, 69%, 56%);
				}
			}

			.footer__icon {
				display: flex;
				column-gap: 30px;
				margin-top: 20px;
				font-size: 1.2rem;
				
			}
		
		}
	}
}
